h3,h4 {

 font-family: Calibri, sans-serif;
 font-weight: bold;
}


.overlay-box {
    position:absolute;
    top:40%;
    left:50%;
    z-index:1002;
    overflow:auto;
    width:70%;
    height:5%;
    margin-left:-30%;
    margin-top:-5%;
    background-color:green;
    border:3px solid yellow;
}

.overlay-box2 {
    position:absolute;
    top:40%;
    left:40%;
    z-index:1002;
//    overflow:auto;
    width:20%;
    height:5%;
    background-color:green;
    border:3px solid yellow;
}


.overlay-box3 {
    position:absolute;
    top:10%;
    left:10%;
    z-index:1002;
    width:80%;
    height:auto;
    background-color:white;
    border:3px solid yellow;
}

#score_mes {
   text-align: center;
   color: yellow;
   height: auto;
   font-family:Verdana, sans-serif;
   font-size: 1.4vw;     
 font-weight: bold;
}




.fakecard {
	display: inline-block;
    float:left;
    text-align: center;
	background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    height: auto;
    padding-bottom: 11.21%;  /* 11.21%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    margin-top: 0.2%;
     margin-left: 0.7%;
}

.alert {
    padding: 1%;
    background-color: #2196F3;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
     font-size: 1.8vw;
     width: 79%;
     margin-left: 19%;
       display: table;

}

path {
	opacity:0.5;
}
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

#closebtn {
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 2%;

	display: table-cell;
  vertical-align: middle;
}

#closebtn:hover {
    color: black;
}





html,body {
    height:100%;
    font-family: Calibri, sans-serif;
 font-weight: bold;

}

.points {
    width:46%;
    height: auto;
     padding: 2%;
   background-color: lightblue;
    float:left;
    text-align: center;
    margin:auto;
    margin-top: 1%;

 }


.row {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.hand_opp {
    left: 2%;
    height: auto;
    width: 80%;
    margin-left: 1%;
    float:left;
    text-align: center;
}

.hand {
    left: 2%;
    height: auto;
    width: 80%;
    margin-left: 1%;
    float:left;
    text-align: center;
}

hr {
	background-color: lightblue;
}

body {
	background-color: lightblue;
}


.inplay {
    height: auto;
    width: 79%;
    padding: 1%;
    float:left;
 }


.hline { width:100%; height:1px; background: #fff }

.deck  {
    width: 7%;
    padding: 0.5%;
    text-align: center;
	float:left;
	height: auto;
}


#deck_img2 {

     width: 90%;  /* size of a single card*/
    height: auto;
    width: auto\9; /* ie8 */
    float:left;
}


.card {
	display: inline-block;
    text-align: center;
	background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    cursor: pointer;
    height: auto;
    padding-bottom: 11.21%;  /* 12.612%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    margin-top: 0.2%;
     margin-left: 0.7%;
}

.pickcard {
    display: inline-block;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    cursor: pointer;
    height: auto;
    padding-bottom: 11.21%;  /* 12.612%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    margin-top: 0.2%;
     margin-left: 0.7%;
}


.card4 {
    display: inline-block;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    cursor: pointer;
    height: auto;
    padding-bottom: 11.21%;  /* 12.612%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    margin-top: 0.2%;
     margin-left: 0.7%;


}


.frac {
    display: inline-block;
    padding-top: 0%;
    padding-left: 0%;
    text-align: center;
    width: 30%;
    font-family: Calibri, sans-serif;
    font-size: 2vw;
    font-size: 2.3vw;
}

.numer{border-bottom:solid black 1px; display:inline-block; float:left}
.denom{ display:inline-block; clear:left; float:left}

.stack_pos{
	position:absolute;
 	padding: 0.15%;
 text-align: center;
 width: 2%;
 border-radius: 40%;
 font-family: Calibri, sans-serif;
 font-weight: bold;
 font-size: 1.1vw;
 background-color: white;
 border: 1px solid black;

}
.card_title{
	position:absolute;
 	padding-top: 0.5%;
 text-align: center;
 width: 6.2%;
 //font-family: Calibri, sans-serif;
 color:white;
 font-weight: bold;
 font-size: 1vw

}

.card_number{
 position:absolute;
 padding-top: 2.5%;
 text-align: center;
 width: 6.2%;
 //font-family: Calibri, sans-serif;
 color:white;
 font-weight: bold;
 font-size: 3vw;

}

.card_abilities{
	position:absolute;
 padding-top: 5.9%;
 text-align: center;
 width: 6.2%;
 //font-family: Calibri, sans-serif;
 font-weight: bold;
 font-size: 1vw;
 color:white;
 text-align: center;
 

}



#messages {
	overflow: auto;
	white-space:pre-wrap;
	text-align: left;
}


#chat { list-style-type: none; margin: 0; padding: 0; }
#chat li { padding: 5px 10px; }
#chat li:nth-child(odd) { background: #eee;}

#overlay2 {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200,200,200,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */
  display: none; /* making it hidden by default */
}

#grey_back {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */
  z-index:1;
}

#overlay_tutorial2 {
  position: absolute; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */
  display: none; /* making it hidden by default */
  z-index:2;
}


#send_chat {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    width: 40%;
    margin:auto;
    padding: 0px;
    text-align: center;
}
#send_chat:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#you_score {
   text-align: center;
   background-color: white;
   height: auto;
   font-size: 1.4vw;     
}

#opponent_score {
   text-align: center;
   background-color: white;
   height: auto;
   font-size: 1.4vw;     
}

.inform {
   width: 18%;
   background-color: lightblue;
   text-align: center;
   height: 95%;
   float: left;
}

.btn_turn{
    display: inline-block;
    padding: 3.2% 6.4%;
    margin-bottom: 0;
     font-family: Calibri, sans-serif;
     font-weight: bold;
     font-size: 1.3vw;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    
    color: #333;
    background-color: rgba(205, 92, 92, .6);
    border-color: #ccc;
}

.btn{
    display: inline-block;
    padding: 3.2% 6.4%;
    margin-bottom: 0;
	 font-family: Calibri, sans-serif;
	 font-weight: bold;
	 font-size: 1.3vw;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    
    color: #333;
    background-color: white;
    border-color: #ccc;
}

.btn2{
 	 font-size: 1.3vw;
   border-radius: 4px;
   vertical-align: middle;
    cursor: pointer;
    background-color: grey;
    padding : 1% ;

    color: #333;
    border-color: #ccc;
}

.btn3{
 	 font-size: 1.3vw;
   border-radius: 4px;
   vertical-align: middle;
    cursor: pointer;
    background-color: grey;
    padding : 1% ;
    color: #333;
    border-color: #ccc;
}


.btn_turn:hover{
    color: #333;
    background-color: yellow;
    border-color: #adadad;
}


.btn:hover{
    color: #333;
    background-color: yellow;
    border-color: #adadad;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,255,0);
    padding-top: 50px;
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    margin:auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,255,0);
    padding-top: 50px;
}

.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    margin:auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,255,0);
    padding-top: 50px;
}




/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 0;
}

.container {
    padding: 5%;
}
